
:root {
	--basic-black: #000000;
	--basic-white: #ffffff;

	--basic-blue: #81B3D2;
	--basic-extra-dark: #333333;
	--basic-dark-gray: #A9A9A9;
	--basic-light-gray: #F2F2F2;
	--basic-dark-blue: #23A9E1;
	--basic-blue2: #81B3D3;
	--basic-dark: #231F20;
	--basic-dark-red: #491213;
	--basic-dark-brown: #766357;
	--basic-brown: #766458;
	--basic-red: #DC6243;
	--basic-gray: #EEEEEE;
	--basic-orange: #F49774;
	--basic-pink: #F4B1A4;

	--background-footer-color: rgba(255, 255, 255, 0.9);
	--button-hover: #669EC0;
	--button-active: #5496BD;
	--logo-press: #BDBBBC;
	--search-hover: #604E43;
	--search-active: #503E33;
	--rating: #666666;
	--checkbox-active: #6A6A6A;
	--border: #E5E5E5;
}


/* Global */

body {
	min-width: 1200px;
	margin: 0;
	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	color: var(--basic-black);
	text-transform: uppercase;
	background-color: var(--basic-white);
	background-position: top center;
	background-repeat: no-repeat;
}

.page-body {
	display: grid;
	min-height: 100%;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;
	max-width: 1200px;
	justify-self: center;
	margin: 0 auto;
}

.page {
	height: 100%;
}

.page a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

/* Main navigation */

/* .top-logo {
	background: url(img/background_photo.png);
}*/

/*.background {
	background: url(img/background.png);
}*/

.main-header {
	background-color: var(--basic-white);
	width: 1200px;
}

.main-header-bar {
	margin: 0 auto;
	padding: 0 10px;
}

.main-navigation {
	display: flex;
	box-sizing: border-box;
	/*display: grid;
	grid-template-columns: auto 1fr auto;*/
	padding: 0;
	font-size: 14px;
	line-height: 26px;
}

.site-navigation {
	list-style: none;
	margin: 0;
	padding: 0;
}

.site-navigation a {
	color: var(--basic-black);
}

.site-navigation a:hover {
	color: var(--basic-blue);
}

.site-navigation a:focus {
	color: var(--basic-black);
	opacity: 0.3;
}

.current-page a {
	color: var(--basic-dark-brown);
}

.logo img {
	display: grid;
	justify-self: center;
	margin: 0 auto;
}

.city-of-seedona {
	position: relative;
	z-index: 200;
}

.welcome {
	position: absolute;
	top: 50px;
	left: 50%;
	margin-left: -218px;
}


.feature-item-social,
.footer-copyright p {
  display: inline-block;
  margin: 0;
  padding: 0;
  padding-left: 3px;
  padding-right: 3px;
}

.site-navigation {
	display: flex;
	margin: 0;
	align-items: flex-start;
}

.site-navigation-item {
	/*display: flex;
	align-items: center;*/
	margin: 0 auto;
}

.site-navigation-item a {
	display: block;
	margin: 0;
	padding: 15px 50px;
}

.site-navigation-item a:nth-child(2) {
	padding-left: 100px;
}

nav img {
	display: flex;
	margin: auto;
}

/*
	 outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;

	 outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;

	outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;
*/

/* top-logo */

.home-page {
	display: flex;
	margin: 0 auto;
	position: relative;
	z-index: 100;
}

.logo {
	background-image: url("../img/background_photo.jpg");
	width: 1200px;
	height: 509px;
	position: relative;
	top: -15px;
	z-index: 0;
}

.filter {
	background-image: url("../img/background.png");
	background-position: absolute;
	top: -15px;
	z-index: 0;
}

.background_second {
	position: absolute;
	top: 500px;
	z-index: 0;
}

/* Features */

.features {
	text-align: center;
	margin-bottom: 0;
}

.index-columns-first {
	display: grid;
	grid-template-columns: 1fr auto;
}

.index-columns-second {
	display: grid;
	grid-template-columns: auto 1fr;
}

.features-list {
	/*display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 20px;*/
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
	margin: 0;
	padding: 0;
}

.feature-item-icon {
	padding: 0;
	padding-bottom: 25px;
}

.rectangle-first {
	display: flex;
	align-items: center;
	flex-direction: column;
	min-height: 200px;
}

.rectangle-first h3 {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	max-width: 470px;
	font-size: 21px;
	line-height: 26px;
	margin: 0;
	padding: 0;
	padding-top: 20px;
	z-index: 10;
}

.rectangle-first p {
	position: relative;
	z-index: 10;
	font-size: 14px;
	line-height: 26px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	padding-top: 35px;
}

.caption-image {
	display: flex;
}

.feature-item {
	text-align: center;
	width: 300px;
	padding: 50px;
}

.feature-item h3 {
	font-size: 21px;
	line-height: 21px;
	color: var(--basic-black);
	margin: 0;
	padding: 0;
}

.feature-item p {
	font-size: 14px;
	line-height: 21px;
	color: var(--basic-extra-dark);
	font-weight: normal;
	padding: 0;
	margin: 0;
	padding-top: 20px;
	padding-bottom: 20px;
}

/* filter checkbox */

.filter-input-checkbox:hover + label {
	background-color: var(--basic-white);
}

.filter-input-checkbox:active + label {
	background-color: var(--checkbox-active);
}

/* icon */
/*
.icon-up-dir {
	background-image: url("../img/icon-up-dir.png");
	background-repeat: no-repeat;
}

.icon-up-dir:hover {
	background-image: url("../img/icon-up-dir-hover.png");
	background-repeat: no-repeat;
}

.icon-up-dir:active {
	background-image: url("../img/icon-up-dir-active.png");
	background-repeat: no-repeat;
}

.icon-down-dir {
	background-image: url("../img/icon-down-dir.png");
	background-repeat: no-repeat;
}

.icon-down-dir:hover {
	background-image: url("../img/icon-down-dir-hover.png");
	background-repeat: no-repeat;
}

.icon-down-dir:active {
	background-image: url("../img/icon-down-dir-active.png");
	background-repeat: no-repeat;
}*/

/* search-results */

.hotel {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	margin-left: 30px;
	box-sizing: border-box;
}

.hotel h2 {
	display: flex;
	padding: 0;
	margin: 0;
}

.hotel p {
	margin: 0;
	margin-top: 5px;
}

.hotel a {
	color: var(--basic-dark);
}

.hotel a:hover {
	color: var(--basic-blue);
}

.hotel a:active {
	color: rgba(0, 0, 0, 0.3);
}



.search-results-list {
	list-style: none;
	width: 100%;
	padding: 0;
	margin: 0;
	border-bottom: 2px solid var(--border);
}

/*
.search-results-list {
	display: grid;
	grid-template-rows: 1fr 5fr 1fr;
}*/

.search-results-item {
	/*display: grid;
	grid-template-columns: 1fr 5fr 1fr;*/
	display: flex;
	margin: 0;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 2px solid var(--border);

}

.search-results-item h2 {
	margin: 0;
	padding: 0;
	font-size: 21px;
	line-height: 26px;
}

.search-results-item p,
.search-results-item span {
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
}

.search-image {
	display: block;
	padding: 0;
	height: 90px;
	width: 135px;
	align-items: center;
	margin: 0;
}

.rating p {
	color: var(--rating);
	background-color: var(--basic-light-gray);
}

.reservation {
	display: flex;
	
}

.search-results-button-detail {
	color: var(--basic-white);
	background-color: var(--basic-blue);
	border: none;
	width: 110px;
	height: 27px;
	font-weight: bold;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
}

.search-results-button-stay {
	color: var(--basic-white);
	background-color: var(--basic-dark-brown);
	border: none;
	width: 142px;
	height: 27px;
	font-weight: bold;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	margin: 0;
	margin-left: 6px;
}

.search-results-button-detail:hover {
	background-color: var(--button-hover);
}

.search-results-button-detail:active {
	background-color: var(--button-active);
	color: rgba(255, 255, 255, 0.3);
}

.search-results-button-stay:hover {
	background-color: var(--search-hover);
}

.search-results-button-stay:active {
	background-color: var(--search-active);
	color: rgba(255, 255, 255, 0.3);
}

/* rectangle-third */

.rectangle-third {
	background-color: var(--basic-gray);
}

.rectangle-third h3{
	font-size: 21px;
	line-height: 21px;
	color: var(--basic-black);
}

.rectangle-third p {
	font-size: 14px;
	line-height: 21px;
	color: var(--basic-extra-dark);
	font-weight: normal;
	margin: 0;
	padding: 0;
	padding-top: 25px;
}

/* Caption-post */

.caption-post {
	display: flex;
	min-height: 256px;
	flex-direction: column;
	align-items: center;
	color: var(--basic-white);
	background-color: var(--basic-blue);
}

.caption-post h3 {
	font-size: 21px;
	line-height: 21px;
	margin: 0;
	padding: 0;
	padding-top: 45px; 
	padding-bottom: 15px;
}

.caption-post p {
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	padding-top: 15px;
	padding-bottom: 15px;
}

/* interest, Caption */

.caption {
	display: flex;
	flex-direction: column;
	text-align: center;
	max-width: 568px;
	min-height: 300px;
	margin: 0 auto;
}

.caption h2 {
	font-size: 30px;
	line-height: 24px;
	margin: 0;
	margin-top: 60px;
	margin: 0;
	padding: 0;
	padding-top: 60px;
}

.caption p {
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	padding-top: 40px;
}

/* search */

.search {
	display: flex;
	position: relative;
	top: -85px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 21px;
	line-height: 26px;
	text-align: center;
	margin: 0 auto;
}

.search-heading {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 568px;
	min-height: 86px;
	color: var(--basic-white);
	background-color: var(--basic-dark-brown);
}

.search-heading:hover {
	background-color: var(--search-hover);
	color: var(--basic-white);
}

.search-heading:active {
	background-color: var(--search-active);
	color: rgba(255, 255, 255, 0.3);
}

.layer {
	display: flex;
	width: 568px;
	min-height: 395px;
	flex-direction: column;
	align-items: center;
	background-color: var(--basic-white);
}

.appointment-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	align-self: center;
	margin: 0;
	padding: 0;
	padding-top: 20px;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 26px;
}

.appointment-form-first {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	padding-left: 52px;
	padding-right: 35px;
}

.appointment-form-first p,
.appointment-form-second p {
	margin: 0;
	padding: 0;
	padding-top: 20px;
	padding-bottom: 20px;
}

.appointment-form-second {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	padding-left: 23px;
	padding-right: 0;
}

.appointment-form-first label {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.appointment-item-first input {
	position: relative;
	width: 346px;
	height: 38px;
	padding-left: 10px;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 26px;
	text-transform: uppercase;
	margin: 0;
	margin-left: 10px;
	border: none;
	background-color: var(--basic-light-gray);
}

input::-webkit-input-placeholder {
	color: var(--basic-black);
}

.adults input,
.children input {
	width: 114px;
	height: 38px;
	padding-left: 10px;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 26px;
	text-transform: uppercase;
	margin: 0;
	margin-left: 10px;
	text-align: center;
	border: none;
	background-color: var(--basic-light-gray);
}

.adults input {
	position: relative;
	left: 17px;
}

/*Safari, Chrome, Opera*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*Firefox*/

input[type="number"] {
-moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
-moz-appearance: number-input;
}

/* appointment */

.appointment-item-people {
	display: flex;
	box-sizing: border-box;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

.appointment-item-people label {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.button {
	display: block;
	width: 458px;
	height: 58px;
	font: inherit;
	text-align: center;
	color: var(--basic-white);
	text-transform: uppercase;
	background-color: var(--basic-blue);
	border: none;
	font-size: 21px;
	line-height: 26px;
}

.button:hover  {
	background-color: var(--button-hover);
}

.button:active {
	background-color: var(--button-active);
	color: rgba(255, 255, 255, 0.3);
}

.minus {
	display: block;
	position: relative;
	left: 35px;
	top: -3px;
}

.plus {
	display: block;
	padding: 5px;
	width: 30px;
	height: 30px;
	position: relative;
	border: none;
	right: 35px;
	top: 7px;
}

.minus-adults {
	left: 55px;
	z-index: 20;
}

.plus-adults {
	left: -15px;
	top: 7px;
	z-index: 20;
}

.arrival-input-button,
.leaving-input-button {
	display: block;
	position: relative;
	right: 30px;
	top: 3px;
}

.arrival-input-button:hover path,
.leaving-input-button:hover path,
.minus:hover path,
.plus:hover path {
	fill: var(--basic-black);
}

/* modal-map */

.modal-map {
	margin: 0 auto;
	position: absolute;
	background-position: bottom;
	top: 2159px;
	z-index: -20;
}

/* footer */

.page-footer {
	background-color: var(--background-footer-color);
	min-height: 120px;
	max-width: 1200px;
}

.page-footer div {
	margin: 0 auto;
}

.page-footer .container-footer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-self: center;
}

.container-footer div {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
}

.footer-contacts {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 250px;
	margin: 0;
}

.footer-contacts p {
	color: var(--basic-black);
	font-size: 21px;
	line-height: 26px;
	margin: 0;
	margin-bottom: 10px;
	margin-top: 10px;
}

.footer-social {
	min-width: 200px;
}

.footer-copyright {
	min-width: 200px;
	margin: 0;
}

/* footer-phone */

.footer-phone,
.footer-phone:hover,
.footer-phone:hover {
	color: var(--basic-black);
	font-size: 21px;
	line-height: 26px;
}

/* footer-social */

.features-list-social {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

.social-button {
	display: flex;
  	align-items: center;
  	justify-content: center;
 	width: 46px;
  	height: 48px;
	background-color: var(--basic-blue);
}

.social-button:hover {
	background-color: var(--button-hover);
}

.social-button:active {
	background-color: var(--button-active);
	
}

.social-button:active path{
	opacity: 0.3;
}

.button-copyright:hover path{
	fill: var(--basic-blue);
}

.button-copyright:active path{
	fill: var(--logo-press);
}

/* footer-copyright */

.footer-copyright p {
	color: var(--basic-black);
	font-size: 14px;
	line-height: 26px;
}

.button-copyright:hover {
	color: var(--basic-blue);
}

.button-copyright:active {
	color: var(--logo-press);
}

/* hotels */


/*filter-selection*/

/*.container {
	display: flex;
	flex-direction: column;
	width: 1200px;
	height: auto;
	margin: 0;
	padding: 0;
	padding-left: 50px;
	padding-right: 50px;
}*/

.filter-container {
	display: flex;
	box-sizing: border-box;
	max-width: 1200px;
	padding: 0;
	padding-left: 50px;
	padding-right: 50px;
}

.filter-box {
	display: flex;
	flex-direction: column;
	margin: 0;
}

.filter-box:nth-child(2) {
	margin-left: 135px;
}

.filter-form h2 {
	color: var(--basic-white);
	font-size: 16px;
	line-height: 21px;
	margin: 0;
	margin-top: 20px;
	margin-bottom: 20px;
}

.filter-selection p,
.filter-selection span,
.filter-selection-item {
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
}

.filter-form {
	display: flex;
	min-height: 217px;
	width: 1200px;
	box-sizing: border-box;
	/*display: grid;
	grid-template-columns: 1fr 1fr 3fr;
	justify-items: center;
	background-color: var(--basic-dark-gray);*/
}

.filter-selection {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: space-between;
	list-style: none;
	color: var(--basic-white);
	margin: 0;
	padding: 0;
	padding-bottom: 20px;
}

.filter-selection-show {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 0;
	margin: 0;
	flex-grow: 0;
	margin-left: auto;
}

.filter-selection:nth-child(3) {

	/*display: grid;
	justify-self: end;
	margin-right: 60px;*/
}

.selection {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 317px;
	height: 36px;
	padding: 0;
	margin: 0;
	border-radius: 2px;
  	border: 1px solid var(--basic-white);
}

.filter-selection-show p {
	display: flex;
}

.filter-selection input {
	margin: 0;
	margin-top: 10px;
}

.filter-show {
	display: flex;
	width: 137px;
	height: 36px;
	justify-content: center;
	align-items: center;
	align-self: center;
	color: inherit;
	font-weight: normal;
	text-transform: inherit;
	background-color: rgba(0, 0, 0, 0);
	border-radius: 2px;
	border: 2px solid var(--basic-white);
	font-size: 14px;
	line-height: 21px;
	margin: 0;
}

/*.filter-selection p {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-self: center;
}

.sort {
	display: flex;
	justify-content: space-between;
	/*
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
	justify-items: center;
	align-items: center;*/
}


/* sort */

.sorting-search {
	display: flex;
}

.sort {
	display: flex;
	box-sizing: border-box;
	min-height: 90px;
	padding-left: 50px;
	padding-right: 50px;
}

.sort h2 {
	/*display: grid;
	justify-self: start;*/
	display: flex;
	align-items: center;
	margin: 0;

}

.sort-type {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	margin-left: 50px;
}

.sort-type p {
	/*display: inline-block;*/
	display: flex;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
}

.sort-type-item {
	/*display: inline-block;*/
	display: flex;
	align-items: center;
	font-size: 21px;
	line-height: 26px;
	margin-right: 15px;
}



/*.sort-type {
	
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	margin-left: 35px;
	justify-self: start;
}*/

.sort-list-item {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-left: 10px;
	list-style: none;
	/*display: grid;
	grid-template-columns: 1fr 1fr 1fr;*/
}

.sort-type-item a {
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;
	opacity: 0.3;
	color: var(--basic-black);
	border-bottom-style: dotted;
	border-width: thin;
}

.sort-type-item a:hover {
	color: var(--basic-blue);
}

.sort-type-item a:active {
	color: var(--basic-black);
	opacity: 1;
}

.sort-type-item:first-child a {
	color: var(--basic-blue);
	opacity: 1;
  	border: none;
}

.sort-type-item:last-child {
	margin-right: 0;
}


.sorting-icons {
	display: flex;
	align-items: center;
	margin: 0;
	margin-left: auto;
	/*
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: end;*/
}

.icon-up-dir {
	margin-right: 10px;
}

.icon-down-dir {
	margin: 0;
}

.rating {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	margin: 0;
	margin-left: auto;
	/*
	display: grid;
	align-items: end;
	margin-right: 50px;
	justify-content: end;*/
}

.star {
	display: flex;
	margin: 0;
	padding: 0;
}

.rating p {
	display: flex;
	padding: 0;
	margin: 0;
}